<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   <style>
      
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            text-align: center;
        }

        h1 {
            color: #333;
        }

       
        input[type="password"] {
            margin: 10px;
            padding: 8px;
            width: 200px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        button {
            margin: 10px;
            padding: 8px 16px;
            border: none;
            border-radius: 5px;
            background-color: #007bff;
            color: #fff;
            cursor: pointer;
        }

        button:hover {
            background-color: #0056b3;
        }

        
        a {
            display: block;
            margin-top: 20px;
            text-decoration: none;
            color: #007bff;
        }

        a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <h1>Reestablecer Contraseña de <span id="emailPlaceholder">{{email}}{{secondTime}}</span></h1>
    <form id="resetForm">
        <input type="password" name="pwd" id="pwd" placeholder="Ingrese Nueva Contraseña">
        <input type="password" name="pwd2" id="pwd2" placeholder="Confirme Nueva Contraseña">
        <button type="submit">Reestablecer</button>
    </form>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/resetPassword.js"></script>
</body>
</html>